.main-div {
    height: 100px;
    width:60px;
    font-size: 25;


}
.profile {
    height:60px;
    width:60px;
    border-radius:30px;
}
.header {
    font-size:25px;
}
.welcome {
   color: Green;
   font-size: 20px;
}
.division2 {
    width:200px;
    background-color:blue;
    height:45px;

}